<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>

<body>

    {{> headerPage}}

    <p>{{welcomeMessage}}</p>

    <br />

    Test
    
    <br />
    <br />

    <img id="imgInput" src="http://www.dfg.de/includes/images/layout/dfg_logo_schriftzug.svg" width="100px"/>

    <button onclick="cmdClick()">Elabora</button>

    <img id="imgOutput" src="" />

    {{> footer}}

</body>

<script>
    function cmdClick() {

        var imageIn = document.getElementById("imgInput");

        toDataURL(imageIn.src, function (dataUrl) {
            console.log('RESULT:', dataUrl)
            var imageOut = document.getElementById("imgOutput");
            imageOut.src = dataUrl;
        });
    };

    function toDataURL(src, callback, outputFormat) {
        var img = new Image();
        img.crossOrigin = 'Anonymous';
        img.onload = function () {
            var canvas = document.createElement('CANVAS');
            var ctx = canvas.getContext('2d');
            var dataURL;
            canvas.height = this.naturalHeight;
            canvas.width = this.naturalWidth;
            ctx.drawImage(this, 0, 0);
            dataURL = canvas.toDataURL(outputFormat);
            callback(dataURL);
        };
        img.src = src;
        if (img.complete || img.complete === undefined) {
            img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
            img.src = src;
        }
    };
</script>

</html>
