<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    
    {{> headerPage}}

    <p>Project page text would go here.</p>

    {{> footer}}

</body>

</html>